{% extends 'base.html.twig' %}

{% block body %}

    {% include 'navbar.html.twig' %}

    <div class="content-area error-page" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row" style="float:left;">
                <div class="col-md-5 col-md-offset-1 col-sm-12 text-center page-title" style="margin-left:0px;">
                    <h2 class="error-title">{{ statusCode }}</h2>
                    <p style="padding: 0;font-size: 20px">{{ message }}</p>
                    <a href="{{ path('welcome') }}" class="btn btn-primary my-btn2 ">Retourner à l'accueil</a>
                </div>
                <div class="col-md-5 col-md-offset-1 col-sm-12 page-title" style="margin-left:15%;">
                    <img src="{{ asset('assets/img/Images/404awobidu.png') }}" class="img-responsive" alt="Example blog post alt">
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}


{% endblock %}