<!-- Footer area-->
<footer class="footer-area">

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="col lg-2" id="logosFooter">
                    <img src="{{ asset('assets/img/LogoGentside.png') }}" alt="Logo Gentside"/>
                    <img src="{{ asset('assets/img/LogoCerise.png') }}" alt="Logo Groupe Cerise"/>
                </div>
                <div class="col lg-2 center middle">
                    Tout droit réservé - (C) <a href="http://www.iut-lens.univ-artois.fr/">Marathon Web 2017</a>
                </div>
                <div class="col lg-2 bottom-menu pull-right middle">
                    <a href="#" data-wow-delay="0.6s">Mentions légales</a>
                </div>
            </div>
        </div>
    </div>

</footer>